@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Manrope:wght@200..800&family=Playwrite+US+Trad:wght@100..400&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  display: none;
}
